*{
    font-size: 35px;
    color: black;
    font-weight: bold;
}

.wrapper{
    height: 850px;
    width: 800px;
    background-image: url("purchaseconfirm.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.summary{
	margin-top: 30px;
    margin-left: 200px;
    width: 500px;
}

.pay{
    margin-top: 50px;
    margin-left: 150px;
}